:root,
#nav,
.scrollContainer {
	--grey-darker: #222;
	--grey-dark: #333;
	--grey-light: #666;
	--white-off: #f5f5f5;
	--gold: #f6be00;
	--gold-dark: #b68b00;
	--red: #ff0000;
}

.dark {
	--clr-bg: var(--grey-darker);
	--clr-bg-light: var(--grey-light);
	--clr-fg: var(--white-off);
	--clr-accent: var(--gold);
}

.light {
	--clr-bg: var(--white-off);
	--clr-bg-light: var(--grey-light);
	--clr-fg: var(--grey-dark);
	--clr-accent: var(--gold);
}

* {
	scrollbar-color: rgba($color: var(--clr-bg), $alpha: 0.5)
		rgba($color: var(--clr-bg), $alpha: 0);
	color: var(--clr-fg);
}

.scroll {
	background-image: linear-gradient(
			to top,
			var(--clr-fg) 1px,
			transparent 0px
		),
		linear-gradient(to top, var(--clr-fg) 1px, transparent 0px),
		linear-gradient(to top, var(--clr-fg) 1px, transparent 0px);
}

#nav > * {
	a {
		color: var(--clr-fg);
	}

	a.active {
		color: var(--clr-accent);
	}
}
