@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(2rem);
		// opacity: 0;
	}

	33% {
		transform: translateY(2rem);
	}

	100% {
		transform: translateY(0);
		// opacity: 100%;
	}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-1.5rem);
		opacity: 0;
	}

	33% {
		transform: translateY(-1.5rem);
	}

	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

@keyframes opacityUp {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}
